<header><%= image_tag('header-image.png', size: '100x100', class: "ui centered image") %></header>
<h2 class="ui center aligned icon header">
  Say something
</h2>


<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui comments"> 
            <%= render @messages %>  
          <form class="ui reply form">
            <div class="ui left icon fluid input">
              <input type="text" placeholder="Enter a message...">
              <i class="users icon"></i>
              <div class="ui submit icon button">
                <i class="icon edit"></i>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui inverted vertical pointing menu">
          <a class="active item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div>
</div>